@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

body{
margin:0px;
padding:0px;
box-sizing:border-box;
}
.nav-item{
    font-family: 'Montserrat', sans-serif;
    margin-right:20px;
    font-size:18px;
   font-weight: 1000;
}
.navbar{
  background-color: rgba(0,0,0,0.6) ;
}

a.nav-link:hover{
  color:white;
}
div.heading-content.text-center{
 position:absolute;
 width:100%;
 top:42%;
 color:white;
 opacity:1.5;
 font-family: 'Pathway Gothic One', sans-serif;
letter-spacing:0.1rem;
}
.heading-content h1{
  font-size:60px;
  font-weight:900;
}

h4.initial{
  font-weight:800;
  letter-spacing:0.1rem;
  
}
h5.initial{
  font-weight:800;
  letter-spacing:0.1rem;
  
}
h3.initial{
  font-weight:800;
  letter-spacing:0.1rem;
  
}

.post-heading{
  margin-top:50px;
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight:bold;
}

@media only screen and (min-width:845px)and (max-width:991px){
  div.heading-content.text-center{
    position:absolute;
    width:100%;
    top:25%;
    
}

}

@media only screen and (max-width:844px){
  h3.initial{display:none;
  }
  h4.initial{display:none;
  }
  h5.initial{
    display:none;
  }
 .heading-content h1{
    font-size:40px;
    font-family: 'Ms Madi', cursive;
    position:absolute;
    width:100%;
    top:94px;
    letter-spacing:0.2rem;
    font-weight:900;
  }
  div.heading-content.text-center{
    position:absolute;
    width:100%;
    top:2%;
}
}
div.postheading.text-center{
  margin-top:20px;
  font-family: 'Montserrat', sans-serif;
  font-weight:bolder;
  letter-spacing:0.001rem;
}

button.btn.btn-dark{
  width:50%;
  padding:9px;
  border:1px solid black;
}
h1.postpostheading{
  font-family: 'Montserrat', sans-serif;
  
 
}
div.postpostcontent{
  font-family: 'Montserrat', sans-serif;
  font-weight:900;

}
button.btn.btn-dark:hover{
  background-color:grey;
}
 hr.w-50.mx-auto{
   margin-bottom:27px;
 }
